CONEXION_DB = "<url-to-mongodb-server>"
PORT = 9000
DOMAIN = "localhost"
PROTOCOL = "http"

CLOUDINARY_URL="<url-to-cloudinary-console>"
CLOUDINARY_CLOUDNAME="<cloud-name-of-cloudinary-console>"
CLOUDINARY_APIKEY="<api-key-of-cloudinary-console>"
CLOUDINARY_SECRET="<secret-of-cloudinary-console>"